{% extends 'base.html'%}


{% block content %}
<section class="container-sm">
    <h3 class="text-center mt-3 mb-3">{% block title %}Crear tareas{% endblock %}</h1>
    <form action="" method="post">
        <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="title">Descripcion</label>
            <textarea class="form-control"  class="form-control" id="desc" name="desc" rows="3" required></textarea>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Guardar">
            <a href="{{ url_for('lista.index')}}" class="btn btn-secondary">Cancelar</a>
        </div>

    </form>

</section>
{% endblock %}