{% extends 'base.html'%}



{% block content %}
<section class="container-fuid">
    <nav class="navbar">
        <h1>{% block title %}Lista de tareas{% endblock %}</h1>
        <a href="{{ url_for('lista.crear')}}" class="btn btn-success">Nuevo</a>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th class="col">Tareas</th>
                <th class="col">Estado</th>
                <th class="col" colspan="2">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for lista in listas | reverse %}
            {% if g.user.id == lista.created_by %}

            <tr>
                <td>
                    <h5>{{lista.title}}</h5>
                    <p>{{lista.desc}}</p>
                </td>
                <td>
                    {% if lista.status == False %}
                    <span class="text-warning">Incompleta</span>
                    {% else %}
                    <span class="text-success">Completa</span>
                    {% endif %}
                </td>                
                <td>
                    <a href="{{ url_for('lista.update', id = lista.id)}}" class="btn btn-info btn-sm">Editar</a>
                </td>
                <td>
                    <a href="{{ url_for('lista.delete', id = lista.id)}}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}